{% include subscribe.html %}

<footer>
  <div class="footer-inner">
    <div class="footer-section">
      <h3>General</h3>
      {% assign navigation = site.pages | sort: "order" %}
      {% for item in navigation %}
        {% if item.nav == "left" %}
          <a class="{{ item.title | slugify }} {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
      {% endfor %}

      {% assign navigation = site.pages | sort: "order" %}
      {% for item in navigation %}
        {% if item.nav == "right" %}
          <a class="{{ item.title | slugify }} {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="footer-section">
      <h3>Social Media</h3>
      <a href="{{ site.strava_URL }}">Strava</a>
      <a href="{{ site.instagram_URL }}">Instagram</a>
      <a href="{{ site.twitter_URL }}">Twitter</a>
      <a href="{{ site.facebook_URL }}">Facebook</a>
    </div>
  </div>
</footer>
