<header>
  <div class="nav">
    {% assign navigation = site.pages | sort: "order" %}
    {% for item in navigation %}
      {% if item.nav == "left" %}
        <a class="{{ item.title | slugify }} {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="site-title">
    <a href="/"><h1>Patrick Reagan Running</h1></a>
  </div>

  <div class="nav">
    {% assign navigation = site.pages | sort: "order" %}
    {% for item in navigation %}
      {% if item.nav == "right" %}
        <a class="{{ item.title | slugify }} {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
