@font-face {
	font-family: 'Nichrome';
	src: url('../fonts/Nichrome0.4-Dark.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Nichrome';
	src: url('../fonts/Nichrome0.4-Ultra.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Pitch';
	src: url('../fonts/PitchTest-Medium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}
