---
layout: base
---

{% include header.html %}

<div class="content-container">
  <div class="content">
    {% if page.feature-image %}
      <div class="feature-image">
        <img src="{{ feature-image }}">
      </div>
    {% endif %}

    {% if page.title %}
      {% if page.url != "/" %}
        <h1 class="page-title">
          {% if page.customTitle %}
            {{ page.customTitle }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      {% endif %}
    {% endif %}

    {{ content }}
  </div>
</div>

{% include footer.html %}
